body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
}
nav {
  font-family: "Brawler", serif;
}
p {
  font-size: 16px;
}
.margin {
  margin-bottom: 45px;
}
.bg-0 {
  background-color: #0a192f; /* Green */
  color: #ffffff;
}
.bg-1 {
  background-color: #112240; /* Green */
  color: #ffffff;
}
.bg-2 {
  background-color: #233554; /* Dark Blue */
  color: #ffffff;
}
.bg-3 {
  background-color: #8892b0; /* White */
  color: #555555;
}
.bg-4 {
  background-color: #233554; /* Black Gray */
  color: #fff;
}
.bg-5 {
  background-color: #a8b2d1; /* Black Gray */
  color: #ffffff;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav li a:hover {
  color: #1abc9c !important;
}
