/* Global styles    ------------------------- */
body{
    margin: 1em;
    display: grid;
    grid: auto-flow min-content / repeat(12, 1fr);
    gap: 1em;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;

}
header, footer{
    grid-column: 1/13;
}
aside, nav {
    grid-column: 1/4;
}
main{
    grid-column: 5/13;
    grid-row: 2/4;
}
a{
    color: #FFE66D;
}
a:hover{
    text-decoration: none;
}
img{
    width: 400px;  
    
    background: white;
    font-family: 'Cormorant Garamond', serif;
}
h2{
    margin : 0 ;
    font-family: 'Cormorant Garamond', serif;
}



/* Main content
-------------------------- */
header{
        color: #F7fff7;
}
.header-image{
    width: 700px;
    size: 700px;
}
main{
    background-color:gray;
}

/* About
-------------------------- */
.About{
    background-color: white;
    margin: 5px;
}
/* Experience
-------------------------- */
.experience{
    background: #A1C6D7;
}
/* Contact Info
-------------------------- */
footer{
    background: #343434;
    color: #F7fff7;
    text-align: center;
}